<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="d-flex justify-content-center mt-3 w-100 gap-2">
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Home</button>
      </form>

      <form action="/userLibrary" method="get">
        <button type="submit" class="btn btn-secondary">
          Back To <%= userName %>'s Library
        </button>
      </form>

      <% if (!locals.bookReview) { %>
      <form action="/getBookReviewPage" method="get">
        <button type="submit" class="btn btn-secondary">Add A Review</button>
      </form>
      <% } else { %>
      <form action="/editBookReviewPage" method="get">
        <button type="submit" class="btn btn-secondary">
          Edit Your Review
        </button>
      </form>

      <form action="/deleteBookReview" method="post">
        <button type="submit" class="btn btn-danger">Delete Your Review</button>
      </form>
      <% } %>
    </div>

    <section>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <!-- CRIS/ book cover -->
            <img
              src="<%= book.bookCover %>"
              class="img-fluid d-block mx-auto"
              alt="book cover"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <!-- CRIS/ title -->
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              <%= book.title %>
            </h1>
            <p class="lead"><%= book.summary %></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <% if (locals.bookReview) { %>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1><%= userName %>'s Review</h1>
            <h4><%= bookReview.reviewNumber %> out of 5 stars</h4>
            <h4><%= userName %>'s Thoughts On The Book:</h4>
            <p><%= bookReview.reviewNote %></p>
          </div>
          <% }; %>
        </div>
      </div>
    </section>
  </body>
</html>
