<%- include("partials/header.ejs")  %>

    <div class="d-flex justify-content-center mt-3 w-100 gap-2">
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Home</button>
      </form>

      <form action="/userLibrary" method="get">
        <button type="submit" class="btn btn-secondary">
          Back To <%= userName %>'s Library
        </button>
      </form>

      <% if (!locals.bookReview) { %>
      <form action="/getBookReviewPage" method="get">
        <button type="submit" class="btn btn-secondary">Add A Review</button>
      </form>
      <% } else { %>
      <form action="/editBookReviewPage" method="get">
        <button type="submit" class="btn btn-secondary">
          Edit Your Review
        </button>
      </form>

      <form action="/deleteBookReview" method="post">
        <button type="submit" class="btn btn-danger">Delete Your Review</button>
      </form>
      <% } %>
    </div>

    <section>
      <div class="container">
        <div class="row bg-info rounded-5 m-5 p-2 g-2">
          <div class="col-12 col-xl-4 d-flex justify-content-center">
            <img
              src="<%= book.bookCover %>"
              alt="book cover"
              style="height: 100%; min-height: 400px"
              class="bg-secondary rounded-5 p-2"
            />
          </div>

          <div class="col-12 col-xl-8 bg-light rounded-5 p-2">
            <h1><%= book.title %></h1>
            <p><%= book.summary.allWords %></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <% if (locals.bookReview) { %>
      <div class="container">
        <div class="row justify-content-center m-5">
          <div class="col col-xl-6 bg-info rounded-5 p-2">
            <div class="bg-light rounded-5 p-2">
              <h1 class="text-center"><%= userName %>'s Review</h1>
              <h4><%= bookReview.reviewNumber %> out of 5 stars</h4>
              <h4><%= userName %>'s Thoughts On The Book:</h4>
              <p><%= bookReview.reviewNote %></p>
            </div>
          </div>
          <% }; %>
        </div>
      </div>
    </section>
  </body>
</html>
